@font-face {
	font-family: "Gilroy";
	src: url("/fonts/Gilroy-Regular.ttf") format("truetype");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: "Gilroy-Bold";
	src: url("/fonts/Gilroy-Bold.ttf") format("truetype");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: "Gilroy-Black";
	src: url("/fonts/Gilroy-Black.ttf") format("truetype");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: "Gilroy-BoldItalic";
	src: url("/fonts/Gilroy-BoldItalic.ttf") format("truetype");
	font-weight: normal;
	font-style: normal;
}

.title .day,
.title .training {
	line-height: 0.5;
}

.pdf-content {
	font-family: "Gilroy", sans-serif;
	color: #222222;
	width: 1080px;
	height: 1920px;
	margin: 0 auto;
	padding-top: 8rem;
	background-color: #f2f2f2;
	background-image: url("/img/fondo.svg");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;

	.title {
		text-align: center;
		font-family: "Gilroy-Black";
		margin-bottom: 20px;

		.day-container {
			display: flex;
			align-items: center;
			justify-content: center;
		}

		.day {
			font-size: 145px;
			display: inline-block;
			margin: 0 10px;
			line-height: 1;
		}

		.star-icon {
			margin: 0 3rem 1.5rem 3rem;
			width: 70px;
		}

		.training {
			font-size: 105px;
			display: block;
			font-family: "Gilroy-Black";
			margin-top: 10px;
		}
	}

	.subtitle-container {
		display: flex;
		align-items: center;
		justify-content: flex-end;
		margin-bottom: 2rem;
		height: 90px;

		.subtitle {
			font-size: 60px;
			font-weight: bold;
			white-space: nowrap;
			text-transform: uppercase;
			padding: 0 110px 0 40px;
		}

		.line {
			flex-grow: 1;
			border-top: 2px solid #222222;
		}
	}

	.meal-connector {
		position: absolute;
		top: 75%; /* Coloca la línea debajo del meal-container actual */
		left: 45%;
		transform: translateX(-150%);
		z-index: -1; /* Asegura que la línea quede detrás de los meal-containers */
		width: 40px;
		display: flex;
		justify-content: center;

		img {
			width: auto;
			height: 100%; /* Asegura que la línea SVG se ajuste a la altura definida */
		}
	}

	.meal-container {
		margin: 0 auto 40px;
		display: flex;
		align-items: center;
		flex-direction: row;
		max-width: 850px;
		position: relative;
		z-index: 10;
		.meal-info {
			display: flex;
			width: 100%;
		}

		.meal-name-container {
			position: relative;
			width: 380px;
			display: flex;
			flex-direction: column;
			justify-content: center;
			color: #fff;
			margin-right: 6rem;
			text-transform: uppercase;
			font-family: "Gilroy-BoldItalic", sans-serif;

			.meal-time {
				font-size: 26px;
				font-weight: bold;
				position: absolute;
				top: 60px;
				color: #d19a49; /* Color dorado sólido */
				line-height: 1;
				white-space: nowrap; /* Evita saltos de línea no deseados */
			}
			/* Alternar imágenes de fondo en .meal-name */
			.meal-name {
				display: flex;
				justify-content: center;
				align-items: center;
				position: relative;
				height: 204px;
				font-size: 38px;
				font-weight: bold;
				border-radius: 1rem;
				padding: 3rem 3rem 3rem 8rem; /* Ajusta para aumentar el espacio interno y hacer que la imagen parezca más grande */
				background-position: center; /* Centra la imagen */
				background-size: 95%;
				background-repeat: no-repeat;
				padding-left: 2rem;
				text-align: center;
			}
			.meal-name-format {
				height: 204px;
				width: 185px;
				display: flex;
				flex-direction: column; /* Coloca las palabras en líneas separadas */
				justify-content: center;
				align-items: center; /* Centra las palabras */
				padding-top: 1.5rem;
				text-align: center; /* Centro para casos de una palabra */
				gap: 0.5rem; /* Espacio pequeño entre las palabras */
				line-height: 1.1;
				/* Estilo para las palabras separadas */
				span {
					display: inline-block;
					width: 100%; /* Ocupa todo el ancho disponible */
				}

				.first-word {
					text-align: left; /* Alinear la primera palabra a la izquierda */
					margin-bottom: -0.3rem; /* Ajusta el margen inferior */
				}

				.second-word {
					text-align: right; /* Alinear la segunda palabra a la derecha */
					margin-top: -0.3rem; /* Ajusta el margen superior */
				}

				&.single-word {
					flex-direction: row; /* Cambia a fila para centrar una sola palabra */
					text-align: center;
				}
			}

			.left-background {
				background-image: url("/img/title-left.svg");
				.meal-time {
					left: 35px;
					transform: rotate(-15deg);
				}
			}

			.right-background {
				background-image: url("/img/title-right.svg");
				.meal-time {
					right: 35px;
					transform: rotate(15deg);
				}
			}
		}

		.meal-alimentos {
			flex: 1;
			font-size: 26px;
			display: flex;
			flex-direction: column;
			justify-content: center;
			font-family: "Gilroy-Bold";
			position: relative;
			li {
				height: 55px;
				list-style-type: none;
				padding: 0 0.4rem 0 3rem;
				border-radius: 1rem;
				display: flex;
				justify-content: space-between; // Esto separa el prop y el valor
				align-items: center;
				.meal-title {
					margin-bottom: 0.3rem;
					width: 100%;
					display: flex;
					justify-content: center;
				}
				.meal-icon {
					position: absolute;
					left: 10px; // Ajusta esta distancia según lo necesites para que quede pegado al borde
					width: 50px; // Ajusta el tamaño del icono
					height: 50px;
					pointer-events: none; // Para evitar que el icono interfiera con la interacción
				}
				.meal-value {
					font-family: "Gilroy-Bold";
					background-image: url("/img/circle.svg");
					background-size: 25px auto;
					background-repeat: no-repeat;
					width: 35px;
					display: flex;
					justify-content: center;
					align-items: center;
					margin-right: 2rem;
					font-size: 18px;
				}
			}
		}
	}

	.training-container {
		position: absolute;
		left: 35%;
		transform: translateX(-50%);
		z-index: 10;
		padding: 10px;
		text-align: center;
		font-family: "Gilroy-BoldItalic", sans-serif;
		text-transform: uppercase;
		font-size: 24px;
		display: flex;
		margin-bottom: 2.5rem;
		.training-details {
			display: flex;
			flex-direction: column;
			justify-content: center;
			.training-name {
				display: flex;
				align-items: flex-start;
			}
		}
		.training-label {
			color: #2c2c2c;
			font-size: 18px;
			margin-left: 5rem;
			padding: 10px;
			background-image: url("/img/training.svg"); /* Ruta a la imagen */
			background-size: cover; /* Ajusta el fondo para que cubra todo el contenedor */
			background-repeat: no-repeat; /* Evita que la imagen se repita */
			background-position: center; /* Centra la imagen en el contenedor */
			width: 200px; /* Ajusta el tamaño del contenedor según el diseño */
			height: 100px; /* Ajusta la altura del contenedor */
		}
	}
	.training-label.small-spacing {
		display: flex;
		align-items: center;
		justify-content: center;
		white-space: pre-wrap; /* Conserva los saltos de línea */
		line-height: 1; /* Reduce el espacio entre líneas */
		font-family: inherit; /* Usa la misma fuente que el diseño */
		font-size: 0.9rem; /* Ajusta el tamaño si es necesario */
		margin: 0; /* Elimina márgenes adicionales */
		padding: 0; /* Elimina cualquier relleno */
		text-transform: none; /* Asegurar minúsculas */
	}

	.training-margin {
		margin: 0 !important;
	}
}
